<%- model_class=Candidato -%>

<% remote ||= remote %>
<% show_collapse ||= show_collapse %>


<div class="accordion" id="accordionCandidato">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button <%= show_collapse.blank? ? 'collapsed' : '' %>" type="button" data-bs-toggle="collapse" data-bs-target="#candidato" aria-expanded="<%= show_collapse.present? %>" aria-controls="Candidato">
        <%= model_class.model_name.human(count: 2).titleize %>
      </button>
    </h2>
    <div id="candidato" class="accordion-collapse collapse <%= show_collapse %>" data-bs-parent="#accordionCandidato">
      <div class="accordion-body">
        <%= render partial: "admin/candidatos/datatable" , locals: {remote: remote} %>
      </div>
    </div>
  </div>
</div>