<% remote = false if remote == nil %>
<% id ||= Time.now.to_i %>

<%= form_with(model: [:admin, bairro], data: { turbo: remote  }) do |form| %>
    <%= hidden_field_tag :remote, remote %>
    <!-- Note: Para adicionar campo obrigatório é só adicionar a classe '.label-required' no label. -->
    <div class="card-body">
                    
                
                        <div class="mb-3 ">
                            
                                <%= form.label :nome, class: "form-label"  %>
                                
                                    <%= form.text_field :nome, class: "form-control" %>
                                
                            
                        </div>
                
            
                    
                
            
        
    </div>
    <div class="card-footer d-flex justify-content-end">
       <%= render "admin/bairros/form_actions" %>

        <% unless remote %>
            <%= link_to "<i class='bi bi-arrow-left'></i> #{t("helpers.links.back")}".html_safe, admin_bairros_path, :class=> "d-inline-block btn btn-secondary me-2" %>
        <% end %>
    </div>
<% end %>