<%- model_class = Eleitor -%>

<% resource ||= resource %>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
        
          <dt><strong><%= model_class.human_attribute_name(:nome) %> :</strong></dt>
          <dd><%= resource.try(:nome) %></dd>
        
              
          <dt><strong><%= model_class.human_attribute_name(:cpf) %> :</strong></dt>
          <dd><%= resource.try(:cpf) %></dd>
        
              
          <dt><strong><%= model_class.human_attribute_name(:rua) %> :</strong></dt>
          <dd><%= resource.try(:rua) %></dd>
        
              
          <dt><strong><%= model_class.human_attribute_name(:bairro) %> :</strong></dt>
          <dd><%= resource.try(:bairro) %></dd>
        
              
          <dt><strong><%= model_class.human_attribute_name(:cep) %> :</strong></dt>
          <dd><%= resource.try(:cep) %></dd>
        
              
          <dt><strong><%= model_class.human_attribute_name(:numero) %> :</strong></dt>
          <dd><%= resource.try(:numero) %></dd>
        
              
          <dt><strong><%= model_class.human_attribute_name(:filiacao) %> :</strong></dt>
          <dd><%= resource.try(:filiacao) %></dd>
        
              
          <dt><strong><%= model_class.human_attribute_name(:zona) %> :</strong></dt>
          <dd><%= resource.try(:zona) %></dd>
        
              
          <dt><strong><%= model_class.human_attribute_name(:candidato) %> :</strong></dt>
          <dd><%= resource.try(:candidato) %></dd>
        
              
      
    </dl>
  </div>
  <div class="col-md-12">
    <%= render partial: "admin/audits/table", locals: {audits: resource.try(:own_and_associated_audits), show_collapse: 'show'} %>
  </div>
</div>